<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: common_head"></head>
<body>
<div th:replace="layout :: menu"></div>

<h1>Thêm sản phẩm mới</h1>
<form th:action="@{/products/create}" method="post" th:object="${product}">
    Tên: <input th:field="*{name}"><br><br>
    Giá: <input th:field="*{price}"><br><br>
    Mô tả: <input th:field="*{description}"><br><br>
    Nhà SX: <input th:field="*{manufacturer}"><br><br>
    <button type="submit">Lưu</button>
</form>

<div th:replace="layout :: footer"></div>
</body>
</html>
